label {
    color: rgb(207, 147, 147);
}

h2 {
    color: rgb(49, 45, 45);
    padding-top: 20px;
    padding-bottom: 20px;
}

.real {
    border: 1px solid rgb(8, 8, 8);
    background-color: #a08c36;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 0 7px #0af729;
}